version: "3"
services:
  db:
    image: mysql:5.7
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=root
      - MYSQL_DATABASE=family_db
      - MYSQL_USER=family
      - MYSQL_PASSWORD=root
    ports:
      - "3306:3306"
    networks:
     - backend
  web:
      build:
        context: .
        dockerfile: Dockerfile-spring
      image: family:latest
      depends_on:
        - db
      ports:
        - "7777:8080"
      networks:
           - backend
      environment:
        - SPRING.PROFILES.ACTIVE=${ACTIVE_PROFILE}

  angular:
    container_name: angular-container
    build:
      context: angular-app
      dockerfile: Dockerfile-angular
    ports:
      - "7778:80"

networks:
  backend:
    driver: bridge

