version: "3"
services:
  db:
    image: mysql:8
    environment:
      - MYSQL_ROOT_PASSWORD=family
      - MYSQL_DATABASE=family_db
      - MYSQL_USER=family_user
      - MYSQL_PASSWORD=family
    ports:
      - 9999:3306
  web:
      build:
        context: .
        dockerfile: Dockerfile-spring
      image: family:latest
      depends_on:
        - db
      ports:
        - 0:8080
      environment:
        - SPRING.PROFILES.ACTIVE=test

  angular:
    container_name: angular-container
    build:
      context: angular-app
      dockerfile: Dockerfile-angular
    ports:
      - 0:80
